body {
    background-color: rgb(0, 125, 141);
}

.card {
    background: linear-gradient(to right, rgb(0, 119, 139), rgb(0, 128, 100));
    margin-top: 25px;
    height: 400px;
    color: azure;
    box-shadow: rgb(116, 116, 116) 0 0 5px;
    transition: 12s;
    transform: scale3d(-1, 1, -1);
}

.card-title {
    color: coral;
}

.card:hover {
    transition: 1s step-start;
    position: relative;
    z-index: 155;
    transform: scale3d(1, 1, 1);
}

.bg-success1 {
    width: 0%;
    animation: animationNmae1 5s linear infinite;
    transition: 6s ease-in ease-out;
    background: linear-gradient(to right, rgb(16, 219, 255), rgb(251, 255, 16), rgb(255, 210, 11), rgb(59, 255, 222), rgb(49, 255, 49), rgb(41, 55, 255), rgb(0, 162, 255));
}

.bg-info2 {
    width: 110%;
    animation: animationNmae2 5s linear infinite;
    background: linear-gradient(to left, rgb(135, 255, 119), rgb(251, 255, 251), rgb(255, 41, 209), rgb(59, 255, 222), rgb(251, 255, 251), rgb(255, 41, 209), rgb(0, 162, 255));
}

.bg-warning {
    width: 0%;
    animation: animationNmae3 5s linear infinite;
    background: linear-gradient(to right, rgb(255, 49, 34), rgb(230, 255, 6), rgb(255, 41, 209), rgb(255, 252, 100), rgb(251, 255, 251), rgb(255, 41, 209), rgb(0, 162, 255));
}

.bg-danger {
    width: 110%;
    animation: animationNmae4 5s ease-in infinite;
    background: linear-gradient(to left, rgb(119, 133, 255), rgb(33, 255, 199), rgb(255, 150, 232), rgb(61, 255, 223), rgb(255, 103, 2), rgb(255, 41, 209), rgb(0, 162, 255));
}

@keyframes animationNmae1 {
    0% {
        width: 0%;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
    110% {
        width: 110%;
    }
}

@keyframes animationNmae2 {
    0% {
        width: 110%;
    }
    10% {
        width: 100%;
    }
    20% {
        width: 90%;
    }
    30% {
        width: 80%;
    }
    40% {
        width: 70%;
    }
    50% {
        width: 60%;
    }
    60% {
        width: 50%;
    }
    70% {
        width: 40%;
    }
    80% {
        width: 30%;
    }
    90% {
        width: 20%;
    }
    100% {
        width: 10%;
    }
    110% {
        width: 0%;
    }
}

@keyframes animationNmae3 {
    0% {
        width: 0%;
    }
    10% {
        width: 10px;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
    110% {
        width: 110%
    }
}

@keyframes animationNmae4 {
    0% {
        width: 110%;
    }
    10% {
        width: 100%;
    }
    20% {
        width: 90%;
    }
    30% {
        width: 80%;
    }
    40% {
        width: 70%;
    }
    50% {
        width: 60%;
    }
    60% {
        width: 50%;
    }
    70% {
        width: 40%;
    }
    80% {
        width: 30%;
    }
    90% {
        width: 20%;
    }
    100% {
        width: 10%;
    }
    110% {
        width: 0%
    }
}